.login {
  width: 90%;
  max-width: 40rem;
  padding: 3rem;
  margin: 8rem auto;
  text-align: center;
}

  .actions {
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .control {
      align-items: center;
      flex-direction: row;
    }
  
  }
